.particular-payment{
    display: grid;
    margin: auto;
    border: 5px solid rgb(103, 103, 238);
    border-radius: 50px;
    width: 500px;
    
}

.particular-payment-form{
    display: grid;
    grid-template-columns: 1fr;
    
}

.particular-payment-input{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(43, 43, 65);
    text-align: center;
    margin: 4px auto;
}

.particular-payment-button{
    
    width: 100px;
    margin: 4px auto;
    padding: 4px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: blanchedalmond;
}