.particular-payment{
    display: grid;
    margin: auto;
    border: 5px solid rgb(103, 103, 238);
    border-radius: 50px;
    width: 170px;
    
}

.particular-payment-form{
    display: grid;
    grid-template-columns: 1fr;
    
}

.particular-payment-input{
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(43, 43, 65);
    text-align: center;
    margin: 4px auto;
}

.particular-payment-button{
    
    width: 100px;
    margin: 4px auto;
    padding: 4px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: blanchedalmond;
}


@media only screen and (min-width: 480px) {
    .particular-payment{
        width: 300px;  
    }


    .particular-payment-input{
        width: 200px;
    }

    .particular-payment-button{ 
        width: 100px;
    }
}
@media only screen and (min-width: 768px) {
    .particular-payment{
        width: 500px;  
    }

    .particular-payment-input{
        width: 250px;
    }

    .particular-payment-button{ 
        width: 130px;
    }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {   
}