.profile-admin-update-names-component{
    display: grid;
    text-align: center;
    justify-items: center;
    border: 4px solid rgb(56, 83, 172);
    background-color: rgb(188, 188, 255);
    border-radius: 20px;
    width: 270px;
    height: 460px;
    font-size: 18px;
}

.profile-admin-update-names-component-image{
    margin-top: 20px;
    width: 150px;
    border: 10px solid rgb(149, 149, 251);
    border-radius: 1000px;
}

.profile-admin-update-names-component-button{
    width: 150px;
    margin: 4px;
    border-radius: 10px;

}

@media only screen and (min-width: 480px) {
    .profile-admin-update-names-component{
        width: 400px;  
    }
}
@media only screen and (min-width: 768px) {
    .profile-admin-update-names-component{
        width: 330px;  
    }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
}