.particular-project-component{
    
    /* border: 2px solid rgb(3, 26, 56); */
    box-shadow: rgb(154, 172, 195) 20px 10px 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(72, 114, 251), rgb(155, 198, 255));
    color: rgb(2, 5, 17);
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-items: center;
    text-align: center;
    margin: 50px auto;

}


.particular-project-component-image{
    margin-top: 40px;
    /* border-radius: 10px; */
    width: 150px;
}

@media only screen and (min-width: 480px) {
    .particular-project-component{
        width: 300px;
    }
    .particular-project-component-image{
        width: 260px;
    }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
    .particular-project-component{
        width: 1000px;
        height: 400px;
    }

    .particular-project-component-image{
        width: 400px;
        height: 300px;
    }
}
