.youtube-links-event-component{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    border: 2px solid blue;
    padding: 2px;
    width: 205px;
    box-shadow: #b8a3ff 2px 2px 10px;
    border-radius: 10px;
    margin: 10px auto;
}

.youtube-links-event-component-button{
    width: 80px;
    height: 50px;
}

@media only screen and (min-width: 480px) {
    .youtube-links-event-component{
        width: 275px;
    }
}
@media only screen and (min-width: 768px) {
    .youtube-links-event-component{
        width: 555px;
        grid-template-columns: 20% 40% 20% 10% 10%;
        align-items: center;
        font-size: 14px;
    }
}
@media only screen and (min-width: 1024px) {
    .youtube-links-event-component{
        width: 755px;
    }
}
@media only screen and (min-width: 1200px) {
    .youtube-links-event-component{
        width: 1055px;
    }
}