.delete-user{
    display: grid;    
    justify-items: center;
    text-align: center;
}

.delete-user-particular{
    width: 220px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 20px auto;
    border: 2px solid rgb(10, 10, 47);
    background-color: rgb(72, 94, 155);
    color: rgb(234, 242, 255);
    font-weight: 800;
    border-radius: 30px;
    padding: 4px;
}

@media only screen and (min-width: 480px) {
    .delete-user-particular{
        width: 320px;
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) {
    .delete-user-particular{
        width: 500px;
        font-size: 14px;
    }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
}