.change-status-event-component{
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px auto;
    border: 2px solid #2c46bd;
    border-radius: 20px;
    padding: 10px;
    justify-items: center;
    width: 230px;
    
}

.change-status-event-component-button{
    width: 80px;
    height: 50px;

}

.update-management-chield{
    overflow-x: hidden;
    height: 400px;
}

@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
    .change-status-event-component{
        width: 530px;
        margin-top: 50px;
        justify-content: center;
        grid-template-columns: 20% 40% 25% 10%;
        align-items: center;
    }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
    .change-status-event-component{
        width: 930px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 10% 40% 15% 10%;

    }
}