.filter-factory{
    padding: 80px 0;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin: auto;
    justify-items: center;
}

.filter-factory-botton{
    padding: 12px;
    border-radius: 20px;
    width: 100px;
}