.cuadro0{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-evenly;
}

.cuadro1{
    height: 500px;
    border: 3px solid green;
    border-radius: 20px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
}

.cuadro2{
    height: 500px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.cuadro3{
    height: 400px;
    
}

.cuadro4{
    height: 400px;
    
}

.cuadro5{
    height: 400px;
    border: 4px solid rgb(8, 8, 70);
    border-radius: 20px;
    text-align: center;

    
}