.user-factory{
    width: 250px;
    padding: 20px 0;
    display: grid;
    margin: 0 auto;
      
}

.user-factory-input{
    justify-self: center;
    margin: 3px ;
    padding: 4px;
}

.user-factory-button{
    width: 200px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    justify-self: center;
}

@media only screen and (min-width: 480px) {
    .user-factory{
        width: 350px;
        padding: 20px 0;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .user-factory{
        width: 500px;
        padding: 20px 0;
        text-align: center;
    }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
    .user-factory{
        padding: 70px 0;
    }
}