.footer-julioperez{
    
    display: grid;
    justify-content: center;
    background-color: #2f4f74;
}

.footer-julioperez-href{
    text-decoration: none;
    color: black;
}

.footer-julioperez-all-images{
    display: grid;
    justify-content: center;
    margin: 5px auto 50px;
    grid-template-columns: repeat(5, 15%);
}

.footer-julioperez-images{
    width: 30px;
    
}

@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
}