div .presentation-component{
    
    width: 80%;
    text-align: justify;
    margin: auto;
}

.presentation-component-title{
    text-align: center;
}

.presentation-component-video{
    width: 240px;
    height: 135px;
    border-radius: 10px;
    display: grid;
    margin: auto;
    
}

.presentation-component-mision{
    display: grid;
    grid-template-columns: 0% 100%;
    align-items: center;
    font-size: 14px;
}

.presentation-component-mision-image{
    display: grid;
    opacity: 0;
    
}

@media only screen and (min-width: 480px) {
    .presentation-component-video{
        width: 360px;
        height: 205px;
    }
}
@media only screen and (min-width: 768px) {
    .presentation-component-video{
        width: 480px;
        height: 270px;
    }
    .presentation-component-mision{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: center;
        font-size: 18px;
    }

    .presentation-component-mision-image{
        opacity: 100%;
        display: grid;
        width: 300px;
        
    }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
    .presentation-component-video{
        width: 560px;
        height: 315px;
    }
    .presentation-component-mision-image{
        opacity: 100%;
        display: grid;
        width: 400px;
        
    }
}